.contact-main {
  height: 100vh;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #212121;
}

.whiteBlock {
  background-color: white;
  position: absolute;
  top: 0;
  right: 11%;
  height: 90vh;
  width: 25vw;
  border-radius: 0 0 15px 15px;
}

.hd1 {
  color: gray;
  font-style: italic;
  font-size: 20px;
}

.hd2 {
  color: black;
  font-weight: bolder;
  font-size: large;
  font-size: 25px;
  line-height: 12px;
}

.in {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 14px;
  padding-top: 30px;
}
.in1 {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 14px;
  padding-top: 90px;
}

.but {
  position: absolute;
  bottom: 50px;
  right: 0px;
  width: 220px;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  border-radius: 11px 0px 0px 11px;
  box-shadow: -1px 2px 25px 0.5px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  padding-left: 20px !important;
}
.contactbody {
  height: 80vh;
  align-items: center;
  padding-left: 30px;
}
.workTogether {
  border-left: 3px solid white;
  padding-left: 10px;
  font-size: 17px;
  margin-left: -10px;
}
.contextBody {
  padding-top: 100px;
}
.reach {
  font-size: 80px;
  line-height: 50px;
}
.usat {
  font-size: 45px;
  margin-left: 4px;
}
.mailicon {
  margin-left: 8px;
}
.dials {
  margin-left: 8px;
  line-height: 0px;
  margin-bottom: 13px;
}
.nums {
  margin-left: 69px;
  line-height: 5px !important;
}
.sociocons {
  display: flex;
  justify-content: space-around;
  width: 170px;
  margin-left: 55px;
}
.copyright {
  position: relative;
  font-size: 11px;
  padding-left: 195px;
}
.dial {
  margin-left: 49px;
}
.backIconContact {
  /* margin-top: 67px; */
  /* display: flex; */
  position: absolute;
  top: 2%;
  left: 1.7%;
}
.hyphen {
  margin-left: 10px;
}
@media only screen and (max-width: 1600px) {
  .in {
    padding-top: 0px;
  }
  .in1 {
    padding-top: 50px;
  }
}

#white-box {
  padding: 3rem;
}

@media only screen and (max-width: 1280px) {
  #white-box {
    padding: 1.5rem;
  }
}
