.homepage {
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #212121;
  background-image: url("../Images/HomepageBulb.png");
}
.homeText {
  align-items: center;
  display: flex;
  height: 90vh;
}
.left_home_body {
  padding: 0.5em;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: -350px;
  line-height: 15px;
  height: 75px;
}
.right_home_body {
  margin-top: 100px;
}
.font-face-gb {
  font-family: "GothamBook";
}
.ideas {
  font-size: 90px;
}
.font-face-gl {
  font-family: "GothamLight";
}
.into {
  font-size: 45px;
  margin-left: 5.5px;
}
.font-face-md {
  font-family: "GothamMedium";
}
.reality {
  font-size: 120px;
}
.we_shape {
  font-size: 20px;
}
.right_home_body {
  line-height: 70px;
}
.homeRightCol {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}
.icon {
  position: absolute;
  left: 98%;
  top: 50.7%;
}
.homeLogo {
  width: 100px;
  height: 80px;
  color: #fff;
}
.homeNav {
  align-items: center;
}

@media only screen and (min-width: 1800px) {
  .leftCol {
    display: flex;
    margin-left: -17%;
  }
}
@media only screen and (width: 1366px) {
  .leftCol {
    display: flex;
    margin-left: -4%;
  }
}
@media only screen and (max-width: 1600px) {
  .reality {
    font-size: 100px;
  }
  .we_shape {
    font-size: 18px !important;
  }
  .ideas {
    font-size: 70px;
  }
  .into {
    font-size: 35px;
  }
  .we_shape {
    font-size: 20px;
  }
}
/*mobile version*/

@media only screen and (max-width: 700px) {
  .reality {
    font-size: 8vw;
    line-height: 4vw;
  }
  .we_shape {
    font-size: 3vw !important;
  }
  .ideas {
    font-size: 6vw;
    line-height: 4vw;
  }
  .into {
    font-size: 4vw;
    line-height: 4vw;
    margin-left: 1px;
  }
  .left_home_body {
    line-height: 4px;
    height: 50px;
    padding-top: 0.8em;
    padding-left: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 13% !important;
    position: relative;
  }
  .icon {
    left: 90%;
  }
  .fa-angle-left {
    font-size: 20px;
  }
  .fa-angle-right {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 600px) {
  .we_shape {
    font-size: 2.5vw !important;
  }
  .reality {
    font-size: 7vw;
    line-height: 3.5vw;
  }
  .we_shape {
    font-size: 2vw !important;
  }
  .ideas {
    font-size: 5vw;
    line-height: 3.5vw;
  }
  .into {
    font-size: 3vw;
    line-height: 3.5vw;
    margin-left: 1px;
  }
  .left_home_body {
    line-height: 7px;
    padding-top: 0.8em;
    padding-left: 0;
    height: 60px;
    padding-top: 0.8em;
    padding-left: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 9% !important;
    position: relative;
  }
  .fa-angle-left {
    font-size: 25px;
  }
  .fa-angle-right {
    font-size: 25px;
  }
}
