#main-home {
  background-color: #000;
  height: 100%;
  width: 100%;
}
/* #main-home:hover {
  cursor: url("/skins/blacknegative/images/nav-close.png"), pointer;
} */
#home-front {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#home-back {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}
#home-front-container {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: 50px;
  width: 6580px;
}
.home-front-item {
  height: 85px;
  width: 470px;
  float: left;
}
.home-front-item > div {
  width: 470px;
  text-align: center;
}
.home-front-item.selected div.title a {
  color: #fff;
}
.home-front-item div.title a {
  font-size: 34px;
  color: #383838;
  font-family: "GeosansLightRegular";
  letter-spacing: 9px;
  text-decoration: none;
}
.home-front-item div.description {
  margin-top: 30px;
  font-size: 12px;
  font-family: Georgia;
  font-style: italic;
  color: #686868;
  letter-spacing: 2px;
}
#home-back-container {
  height: 100%;
  width: 1955px;
  /* background-image: url("/skins/blacknegative/images/home/background.gif"); */
  background-position: 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100%;
  padding-right: 100%;
}
.home-back-item {
  float: left;
  height: 140px;
  width: 135px;
}
.home-back-item > div {
  width: 135px;
  text-align: center;
  position: relative;
}
.home-back-item-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 239px;
  width: 240px;
  z-index: 50;
}
.home-back-item-transition {
  /* background-image: url("/skins/blacknegative/images/home/sprite.png"); */
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 241px;
  width: 241px;
  z-index: 51;
}
.home-back-item-bg {
  background-repeat: no-repeat;
  position: absolute;
  top: -140px;
  left: -140px;
  height: 240px;
  width: 240px;
  z-index: 50;
}
.home-back-item-nb {
  position: absolute;
  top: -30px;
  left: -140px;
  height: 240px;
  width: 240px;
  z-index: 51;
  font-size: 22px;
  font-family: "GeosansLightRegular";
  color: #2e2e2e;
}
.home-back-item.selected .home-back-item-nb {
  color: #fff;
}
