.ourworknav {
  position: absolute;
}
.img1 {
  height: 50vh;
  width: 50vw;
  background-image: url("../Images/bangkok.jpg");
  background-size: 100%;
  transition: all 0.5s ease;
  background-size: 100%;
  background-position: center;
}
.img2 {
  height: 50vh;
  width: 50vw;
  background-position: center;
  transition: all 0.5s ease;
  background-size: 100%;
  background-image: url("../Images/dubai.jpg");
  background-position-y: bottom;
}
.img3 {
  height: 50vh;
  width: 50vw;
  background-position: center;
  transition: all 0.5s ease;
  background-size: 100%;
  background-image: url("../Images/diamond.jpg");
  background-position: center;
}
.img4 {
  height: 25vh;
  width: 25vw;
  background-position: center;
  transition: all 0.5s ease;
  background-size: 100%;
  background-image: url("../Images/dice.jfif");
}
.img5 {
  height: 25vh;
  width: 25vw;
  background-position: center;
  transition: all 0.5s ease;
  background-size: 100%;
  background-image: url("../Images/diamond1.jpg");
}
.img6 {
  height: 50vh;
  width: 25vw;
  background-position: center;
  transition: all 0.5s ease;
  background-size: 100%;
  background-image: url("../Images/tubecoffee.jpg");
}
@media only screen and (max-width: 1023px) {
  .img1,
  .img2 {
    width: 100vw;
  }
  .img1 {
    margin-top: 23vh;
  }
  .img3 {
    width: 100vw;
  }
  .img4 {
    display: none;
  }
  .img5 {
    width: 100vw;
    height: 50vh;
  }
  .img6 {
    width: 100vw;
  }
  .flex {
    width: 100vw;
  }
  .forwardIconWorks {
    left: 90% !important;
  }
  .ourPortfolio {
    display: block !important;
    margin-top: 22px !important;
  }
  .test1 {
    flex-direction: column !important;
  }
}
.ourwork {
  /* height: 100vh; */
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.aboutrow {
  margin: 0;
}

.backIconWorks {
  position: absolute;
  left: 1.7%;
  top: 50.7%;
  text-decoration: none;
  /* transform: translateY(-50%); */
}

.forwardIconWorks {
  position: absolute;
  left: 98%;
  top: 50.7%;
  /* align-items: center;
  display: flex; */
  /* transform: translateY(-50%); */
}

.modal-blur {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.modal-content {
  width: 60vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.quickview {
  height: 60vh;
  width: 30vw;
  object-fit: fill;
}

.hide {
  display: none;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
}
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
  background-size: 110%;
  background-position: center;
  cursor: pointer;
}
.closeicon {
  color: black;
  cursor: pointer;
  position: relative;
  right: 50%;
}
.ourPortfolio {
  margin-top: 2vh;
}
.ourwork {
  background-color: #2e2e2e !important;
}
.portfolio_our {
  font-size: 12px;
  line-height: 0.1px;
}
.portfolio_portfolio {
  font-size: 25px;
  line-height: 15px;
}
.ourPortfolio {
  display: none;
  text-align: center;
}
.test {
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .modal-content {
    display: none;
  }
  .modal-blur {
    display: none;
  }
}
